{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}отчёт по удалению клиента{% endblock title %}
{% block content %}
<section class="py-5 text-center container main-box">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">!!!!!!</h1>
            <p class="lead text-muted">Удаление</p>
              <h4>
                  Застрахованая:{{client.name}}
                  Номер полиса:{{client.police_num}}
              </h4>
              <h4>Подтвердите удаление:</h4>
              <form action="/clientbase/delclient/{{client.id}}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="удалить" class="btn btn-primary" style="width: 200px">
                  <a href="/clienbase/index">Вернуться</a>
              </form>
          </div>
        </div>
      </section>
    <style>
        .main-box {
            padding-top: 0px;
        }
        .main-box .row {
            padding-top: 0px;
        }
    </style>
{% endblock content %}